---
type Props = {
  title: string;
};

const paths = {
  "/table/person": "Person",
  "/table/company": "Company",
};

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="grid grid-cols-12 min-h-screen gap-x-4">
      <aside class="col-span-3 bg-slate-100 p-4">
        <nav class="flex flex-col">
          {
            Object.entries(paths).map(([key, value]) => (
              <a
                href={key}
                class:list={[
                  "underline",
                  { "font-bold": Astro.url.pathname === key },
                ]}
              >
                {value}
              </a>
            ))
          }
        </nav>
      </aside>
      <main class="col-span-9 bg-slate-50 flex flex-col mr-4">
        <slot />
      </main>
    </div>
  </body>
</html>
